---
- include_vars: "{{ var_files }}"
  vars:
    params:
      files:
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - "vars"
    var_files: "{{ lookup('first_found', params, errors='ignore') }}"
  when: var_files | length
- include_tasks: overwrites.yml

- include_tasks: prepare.yml
- include_tasks: setup.yml

- include_tasks: "{{ task_files }}"
  vars:
    params:
      files:
        - "setup-{{ ansible_os_family | lower }}.yml"
      paths:
        - "tasks"
    task_files: "{{ lookup('first_found', params, errors='ignore') }}"
  when: task_files | length

- include_tasks: config.yml
- include_tasks: post.yml
- include_tasks: apps.yml
