#!/usr/bin/env {{ owncloud_python_executable }}

# {{ ansible_managed }}

from __future__ import print_function
import os
from json import loads, dumps
import subprocess

output = loads('''{{ ({
    "installed": false
    }) | to_nice_json }}''')


if os.path.isfile('{{ owncloud_deploy_path + "/config/config.php" }}'):
    try:
        config_cmd = subprocess.Popen(
            ['{{ php_executable }}', '-r', 'include "{{ owncloud_deploy_path + "/config/config.php" }}"; echo json_encode($CONFIG);'],
            stdout=subprocess.PIPE,
            stderr=subprocess.PIPE,
        )
    except:
        pass
    else:
        std_out, std_err = config_cmd.communicate()

        if config_cmd.returncode == 0 and len(std_err) == 0:
            config = loads(std_out)
            for key in ['instanceid', 'version', 'updatechecker', 'theme', 'maintenance', 'datadirectory', 'trusted_domains']:
                if key in config:
                    output[key] = config[key]

if 'version' in output:
    output['version'] = '.'.join(output['version'].split('.')[:3])
    output['release'] = '.'.join(output['version'].split('.')[:2])
else:
    output['version'] = "0.0.0"

print(dumps(output, sort_keys=True, indent=2))
