#!{{ ansible_python.executable }}

{{ ansible_managed | comment }}

from json import loads, dumps
import subprocess

output = dict({
    "installed": False,
    "maintenance": False,
    "version": "0.0.0"
})
command = "{{ owncloud_occ_executable }} config:list --no-warnings --output=json"

try:
    config_cmd = subprocess.Popen(
        command.split(),
        stdout=subprocess.PIPE,
        stderr=subprocess.PIPE,
    )
    std_out, std_err = config_cmd.communicate()

    if config_cmd.returncode == 0 and not std_err:
        config = loads(std_out)["system"]

        for key in ['version', 'maintenance', 'installed']:
            if key in config:
                output[key] = config[key]

        if 'version' in output:
            output['version'] = '.'.join(output['version'].split('.')[:3])
            output['release'] = '.'.join(output['version'].split('.')[:2])
except:
    pass

print(dumps(output, sort_keys=True, indent=2))
